@import 'config';
@import 'menu';
@import 'modal';


* {
    box-sizing: border-box;
}


body {
    @include background();
    background: $primary-color;
    height: auto;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    color: white;
    // z-index: 0;
    position: relative;

    &.lg-heading {
        font-size: 6rem;

        span {
            color: $secondary-color;
        }
    }

    &.sm-heading {
        font-size: 2rem;
        padding: 0.2rem 1rem;
        background: rdba(lighten($primary-color, 0.2), 0.2s);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;

    #navbar {
        // background: red;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        font-size: 1.6rem;
        color: white;
        margin-right: 1rem;
        margin-top: 1rem;

        span {
            margin-right: 1rem;
            cursor: pointer;
            z-index: 5;

            &:hover {
                color: $secondary-color;
            }
        }

        &::after {
            content: "";
            display: block;
        }
    }

}

main {
    padding: 4rem;
    height: 100vh;
    background: #626262;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                transition: all 0.5s ease-in-out;
            }
        }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }

    .blocker1 {
        width: 63%;
        height: 218px;
        transform: rotate(16deg);
        background: #444444;
    }

}

// MY WORK SECTION

#work {
    padding: 0 4rem;
    height: 100vh;

    h1,
    h2,
        {
        margin: 0;
        font-weight: 400;
        color: white;
        // z-index: 2;
        position: relative;

        &.wk-heading {
            font-size: 6rem;

            span {
                color: $secondary-color;
            }
        }

        &.desc {
            font-size: 2rem;
            padding: 0.2rem 1rem;
            background: rdba(lighten($primary-color, 0.2), 0.2s);
        }
    }

    .filters {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 2rem;

        .filter {
            // font-size: 2rem;
            display: flex;
            align-items: center;
            padding: 1rem;
            background: $primary-color;
            color: white;
            margin: 0.5rem;
            height: 3rem;
            border: 3px solid white;

            &:hover {
                cursor: pointer;
                border-color: $secondary-color;
                transition: all 0.5s ease-out;
            }

            // show which current filter is selected
            &.current {
                border-color: $secondary-color;
            }
        }
    }

    .projects {
        display: grid;
        // grid-template-columns: repeat(3,1fr);
        grid-gap: 0.7rem;

        .thumbnail {
            width: 100%;
            border: 3px solid white;

            &:hover {
                cursor: pointer;
                opacity: 0.5;
                border-color: $secondary-color;
                transition: all 0.5s ease-out;
            }
        }

        .thumbnailoff {
            width: 100%;
            border: 3px solid white;
        }

        button {
            width: 3rem;
            height: 3rem;
            border: 3px solid white;
            background: $primary-color;
            color: white;
            cursor: pointer;

            &:hover {
                border-color: $secondary-color;
            }
        }

        h1,
        h2 {
            color: #333;
        }

        img {
            width: 100%;

            &.showing {
                display: block;
            }

            &.hide {
                display: none;
            }
        }
    }
}



//ABOUT section

#about {
    background: #626262;
    height: 100vh;
    padding: 0 4rem;
    margin-top: 10rem;

    display: flex;
    justify-content: center;
    flex-flow: column wrap;

    // headings
    h1,
    h2,
        {
        margin: 0;
        font-weight: 400;
        color: white;

        &.wk-heading {
            font-size: 6rem;

            span {
                color: $secondary-color;
            }
        }

        &.desc {
            font-size: 2rem;
            padding: 0.2rem 1rem;
            background: rdba(lighten($primary-color, 0.2), 0.2s);
        }
    }

    .interests {
        color: white;
        font-size: 2rem;
    }

    .contact-info {
        font-size: 2rem;
        color: white;
        // display: flex;
        // flex-flow: column wrap;
    }

    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem;

        div {
            border: 3px white solid;
            padding: 1.5rem 2.5rem;
            font-size: 2rem;
            margin-bottom: 0.3rem;
            margin-bottom: 3rem;

            &:hover {
                border-color: $secondary-color;
                transition: all 0.5s ease-out;
                padding: 0.5rem 1.5rem;
            }
        }

        .text-secondary {
            color: $secondary-color;
        }
    }
}



// global Button styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background: $secondary-color;
        color: #333;
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: white;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;

}

.btn-dark-disable {
    @extend .btn;
    background: darken($primary-color, 50);
    color: white;
    cursor: initial;

    &:hover {
        background: darken($primary-color, 50);
        color: white;
        text-decoration: line-through;
    }

}


.btn-light-disable {

    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
    cursor: initial;

    &:hover {
        background: lighten($primary-color, 50);
        text-decoration: line-through;
    }

}


@import 'mobile';