@import 'config';

#navbar {
    z-index: 5;
    .nav-item {
        transform: translate3d(600px, 0, 0);
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        z-index: 5;

        &.showing {
            transform: translate3d(0, 0, 0)
        }
    }

}

//delay each nav item from showing by 1.0s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}